<div class="container">
    <div class="row valign-wrapper">
        <div class="col s6">
            <img class="logo" src="https://i.ibb.co/yWY3gWL/snapp-2.png">
        </div>
{{!-- RETURN TO DASHBOARD BUTTON --}}
        <div class="col s6">
            <a class="btn btn-large waves-effect waves-#619B81 right" href="/">
                Back to Dashboard
            </a>
        </div>
    </div>

 <!-- MODAL FOR ADDING A PHOTO TO A PRE-EXISTING ALBUM -->
<div id="modal2" class="modal">
    <div class="modal-content">
        <h3>Add Images</h3>
        <form action="/addPhoto/{{doc._id}}" method="POST" enctype="multipart/form-data">
            <div class="file-field input-field">
                <div class="btn">
                    <span>IMG</span>
                    <input type="file" multiple id="image" name="images" class="validate" required>
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>

{{!-- ALBUM TITLE --}}
<div class="row">
    <div class="col s10">
       <h3>{{doc.title}}</h3>
    </div>
</div>

{{!-- ALBUM DESCRIPTION --}}
    <div class="row">
        <div class="col s10">
            <p>{{doc.desc}}</p>
        </div>

{{!-- ADD A PHOTO BUTTON --}}
         <div class="col s2">
            <a class="btn-floating btn-large waves-effect waves-#619B81 right modal-trigger" href="#modal2">
                <i class="material-icons">add</i></a>
        </div>
    </div>
 
    <hr>
    {{!-- DISPLAYS THE IMAGES WITHIN THE CURRENT ALBUM --}}
    <div class="row">
    {{doc.date}}
    {{#each doc.paths}}
    <div class="col s6 m6 l3">
            {{!-- <div class="row photoRow"> --}}
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="/{{this}}">
                </div>
                {{!-- THE REVEAL CARD WHEN IMAGE IS CLICKED--}}
                <div class="card-reveal">
                    <p>{{this}}</p>
                    <span class=""><i class="material-icons right">close</i></span>
                    <p><a href="http://localhost:3001/{{this}}" download="{{this}}">Download</a></p>
                </div>
            </div>
    </div>
        {{/each}}
        </div>
</div>

<script src="/js/script.js"></script>